@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    
   
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#ec5c09,#dd3030);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;

}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
    overflow: hidden;
}
section img#mountains_front
{
    z-index: 9;
}
#text{
    position: absolute;
    color: #fff;
    right: -850px;
    white-space:nowrap ;
    font-size: 7.5vw;
    z-index: 9;
    
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522 ;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.sec h2::after
{
    content: "";
    width: 1320px;
    height: 4px;
    background-color: #fff;
    margin: 0 ;
    display: block;
}
.sec h3{
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    text-align: center;
    color:goldenrod;
    justify-content: center;
}
.sec h3::after{
    content:"";
    width: 120px;
    height: 3px;
    background-color: goldenrod;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.Kapadokya{
    margin-top: 50px;
    display: flex;
}

.sec img#kapadokya{
    width: 40%;
    height: 100%;
    margin-left: 40px;
    object-fit: cover;
    border-radius: 40px;
}
.sec p{
    font-size: 1em;
    display: flex;
    width: 45%;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.sec p::after{
    content:"";
    width: 3px;
    height: 300px;
    background-color: goldenrod;
    display: block;

}

.tarihce{
    margin-top: 100px;
    display: flex;
}
.tarihce img{
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    height: auto;
    border-radius: 40px;
}
footer{
    background-color:black;
    height: 200px;
    overflow: hidden;
}
footer h2{
    margin-top: 50px;
    background-color: black;
    text-align: center;
    color: #fff;
}
footer ul
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li{
    list-style: none;
    margin-left: 20px;
}
footer ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}


/*telefon modu */


@media only screen and (max-width:768px){
    header .logo{
        margin-left: 0px;
        font-size: 250%;
    }
    header ul{
        display: none;
    }
    section img#moon{
        margin-top: 50px;
        width: 100%;
        height: 80%;
    }    
    section img#stars
    {
        margin-top: 60px;
        height: 70%;
    }
    section img#mountains_behind{
        height: 50%;
        margin-top: 270px;
    }
    #text{
        font-size: 60px;
    }
    .sec
    {
        position: relative;
        padding: 10px;
        background: #1c0522 ;
    }
    .sec h2
    {
        font-size: 2em;
        margin-top: 50px;
        color: #fff;
        margin-left: 0;
    }
    .sec h2::after
    {
        content: "";
        width: 350px;
        height: 4px;
        background-color: #fff;
        margin: 0 ;
        display: block;
    }
    .sec h3{
        font-size: 2.4em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 50px;
        text-align: center;
        color:goldenrod;
        justify-content: center;
    }
    .sec h3::after{
        content:"";
        width: 120px;
        height: 3px;
        background-color: goldenrod;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    
    }
    .Kapadokya{
        margin-top: 50px;
        display: block;
    }
    .sec img#kapadokya{
        width: 90%;
        height: 100%;
        margin-left: 25px;
        object-fit: cover;
        border-radius: 40px;
    }
    .sec p{
        font-size: 1em;
        width: 80%;
        margin-top: 30px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .tarihce{
        margin-top: 100px;
        display: block;
        margin-top: 0px;
    }
    .tarihce img{
        margin-top: 50px;
        margin-left: 30px;
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 40px;
    }
    footer ul
    {
        margin-top: -60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}